<div class="main__content">
  <div class="main__anchor__list">
  </div>
  <div class="main__anchor__loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>
<script>
  function loadAnchorMore() {
    $('.main__anchor__loading').show();
    var limit = $('.main__anchor__list').data('limit') || 0;
    AnchorModelImp.getAnchorList(limit, function (res) {
      $('.main__anchor__loading').hide();
      var list = $('.main__anchor__list').data('limit', res.limit);
      res.data.forEach(function (item, idx) {
        var card = $('<div>').addClass('main__anchor__card');
        var user = $('<div>').
        addClass('main__anchor__user').
        html('<div class="main__anchor__image"></div><div class="main__anchor__name">妍妍小朋友</div>');
        var title = $('<h5>').html(item.note);
        var content = $('<div>').addClass('main__anchor__content').html('<pre>' + item.info + '</pre>');
        var date = $('<div>').
        addClass('main__anchor__date').
        html(item.date);
        card.append([user, title, content, date]).appendTo(list);

        /* images */
        if (item.images.length > 0) {
          var album = $('<div>').addClass('main__anchor__album');
          var pictures = item.images.map(function (image, idx) {
            var href = 'http://drive.google.com/uc?export=view&id=' + image;
            return $('<div>').
            addClass('main__anchor__picture').
            css('background-image', 'url("' + href + '")').
            data('fancybox', 'images-' + idx).
            attr('href', href).
            click(function () {
              var parent = $(this).parent();
              $.fancybox.open($(parent).children('.main__anchor__picture'), {
                buttons: [
                  "zoom",
                  "close"
                ]
              }, idx);
            });

          });

          album.append(pictures).insertAfter(content);
        }
      });
    });
  }

  function loadAnchorList() {
    $('.main__anchor__list').empty();
    loadAnchorMore();
  }

</script>