<div class="main__content">
  <button type="button" class="btn btn-primary" id="choose-date-btn">選擇日期</button>
  <div class="table-responsive main__table main__table--hidden">
    <table class="table date-sheet table-striped">
      <thead class="thead-dark date-sheet__head">
      <tr>
        <th class="date-sheet__th" scope="col">日期</th>
        <th class="date-sheet__th" scope="col">喝奶總量</th>
        <th class="date-sheet__th" scope="col">小便次數</th>
        <th class="date-sheet__th" scope="col">大便次數</th>
        <th class="date-sheet__th" scope="col">備註</th>
        <th class="date-sheet__th" scope="col">特殊狀況</th>
        <th class="date-sheet__th" scope="col">查看</th>
      </tr>
      </thead>
      <tbody class="date-sheet__body">

      </tbody>
      <tfoot>
      <tr class="date-sheet__loading">
        <td scope="row" colspan="7" align="center" class="date-sheet__loading__data">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<style>
  .fast {
    display: flex;
    flex-wrap: wrap;
  }

  .fast__item {
    padding: 10px 15px;
    border: 2px solid #18a2b8;
    margin: 2px;
  }
</style>
<div class="modal fade" id="datePickModal" tabindex="-1" role="dialog"
     aria-labelledby="datePickModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datePickModalLabel">選擇查詢日期</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <form onsubmit="return false;">
          <div class="form-group">
            <label>起始日</label>
            <input type="date" class="form-control" name="start"/>
            <div class="invalid-feedback">
              請選擇日期
            </div>
          </div>
          <div class="form-group">
            <label>迄止日</label>
            <input type="date" class="form-control" name="end"/>
            <div class="invalid-feedback">
              請選擇日期
            </div>
          </div>
          <div class="form-group">
            <p class="text-danger server-message"></p>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info btn-block" id="submit-btn">確認</button>
          </div>
          <hr/>
          <div>
            <label>快速查詢</label>
            <div class="fast">
              <button class="col bg-light text-secondary fast__item" data-date="twomonth">
                前兩個月
              </button>
              <button class="col bg-light text-secondary fast__item" data-date="lastmonth">
                上個月
              </button>
              <button class="col bg-light text-secondary fast__item" data-date="thismonth">
                本月
              </button>
              <div class="w-100"></div>
              <button class="col bg-light text-secondary fast__item" data-date="thisweek">
                最近一週
              </button>
              <button class="col bg-light text-secondary fast__item" data-date="yesterday">
                前一日
              </button>
              <button class="col bg-light text-secondary fast__item" data-date="today">
                今天
              </button>
            </div>
          </div>
        </form>
        <div class="date-pick-loading text-secondary">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-secondary btn-block" data-dismiss="modal">關閉</div>
      </div>
    </div>
  </div>
</div>
<div id="detail-modal"></div>

<script>
  $(function () {
    $('#detail-modal').load('src/templates/record.detail-modal.html');
  });
</script>