<div class="main__content">
  <button type="button" class="btn btn-primary" onclick="chooseDates();">選擇日期</button>
  <div class="table-responsive main__table main__table--hidden">
    <table class="table date-sheet table-striped">
      <thead class="thead-dark date-sheet__head">
      <tr>
        <th class="date-sheet__th" scope="col">日期</th>
        <th class="date-sheet__th" scope="col">喝奶總量</th>
        <th class="date-sheet__th" scope="col">小便次數</th>
        <th class="date-sheet__th" scope="col">大便次數</th>
        <th class="date-sheet__th" scope="col">備註</th>
        <th class="date-sheet__th" scope="col">特殊狀況</th>
        <th class="date-sheet__th" scope="col">查看</th>
      </tr>
      </thead>
      <tbody class="date-sheet__body">

      </tbody>
      <tfoot>
      <tr class="date-sheet__loading">
        <td scope="row" colspan="7" align="center" class="date-sheet__loading__data">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div id="search-modal"></div>
<div id="detail-modal"></div>

<script>
  function insertData(res) {
    function _stringToCount(strOrNum) {
      return strOrNum.toString() ? strOrNum.toString().split(',').length : 0;
    }

    function _validMistake(pee, poop) {
      var mistake = [];
      pee.toString() && pee.toString().split(',').find(function (pe) {
        return +pe !== 0;
      }) && mistake.push('小便異常');
      poop.toString() && poop.toString().split(',').find(function (po) {
        return +po !== 0;
      }) && mistake.push('大便異常');

      return mistake;
    }

    /* table clear */
    $('.date-sheet__body').empty();

    /* insert data */
    var result = res.reduce(function (result, obj) {
      var targetIdx = result.findIndex(function (item) {
        return item.date === obj.date;
      });

      if (targetIdx === -1) {
        result.push({
          date: obj.date,
          drink: +(obj.mom || 0) + +(obj.milk || 0),
          pee_count: _stringToCount(obj.pee),
          poop_count: _stringToCount(obj.poop),
          note: +obj.slot_row === 25 ? obj.note : '',
          mistake: _validMistake(obj.pee, obj.poop),
          detail: [obj]
        });
        return result;
      }

      result[targetIdx]['drink'] += +(obj.mom || 0) + +(obj.milk || 0);
      result[targetIdx]['pee_count'] += _stringToCount(obj.pee);
      result[targetIdx]['poop_count'] += _stringToCount(obj.poop);
      result[targetIdx]['note'] = +obj.slot_row === 25 ? obj.note : '';
      result[targetIdx]['mistake'] = result[targetIdx]['mistake'].concat(_validMistake(obj.pee, obj.poop));
      result[targetIdx]['detail'].push(obj);
      return result;
    }, []);

    result.forEach(function (item, idx) {
      var btn = $('<button>').addClass('btn btn-info btn-sm').html('查看').click(function () {
        showDetail(item.detail);
        return false;
      });

      var row = $('<tr>').html(
        '<td data-title="日期" class="date-sheet__no-wrap">' + toDate(item.date) + '</td>' +
        '<td data-title="喝奶總量">' + item.drink + '</td>' +
        '<td data-title="小便次數">' + item.pee_count + '</td>' +
        '<td data-title="大便次數">' + item.poop_count + '</td>' +
        '<td data-title="備註">' + (item.note || '無') + '</td>' +
        '<td data-title="特殊狀況">' + (item.mistake.length === 0 ? '無' : item.mistake.join(',')) + '</td>'
      );
      $('<td>').attr('data-title','查看').html(btn).appendTo(row);
      row.prependTo($('.date-sheet__body'));
    });
  }

  function toDate(date) {
    return moment(date).format("YYYY-MM-DD");
  }

  $(function () {
    $('#search-modal').load('src/templates/record.search-modal.html');
    $('#detail-modal').load('src/templates/record.detail-modal.html');
  });
</script>