<style>
  .fast {
    display: flex;
    flex-wrap: wrap;
  }

  .fast__item {
    padding: 10px 15px;
    border: 2px solid #18a2b8;
    margin: 2px;
  }
</style>
<div class="modal fade" id="datePickModal" tabindex="-1" role="dialog"
     aria-labelledby="datePickModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datePickModalLabel">選擇查詢日期</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>起始日</label>
            <input type="date" class="form-control" name="start"/>
            <div class="invalid-feedback">
              請選擇日期
            </div>
          </div>
          <div class="form-group">
            <label>迄止日</label>
            <input type="date" class="form-control" name="end"/>
            <div class="invalid-feedback">
              請選擇日期
            </div>
          </div>
          <div class="form-group">
            <p class="text-danger server-message"></p>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info btn-block" onclick="submitSearch();">確認</button>
          </div>
          <hr/>
          <div class="form-group">
            <label>快速查詢</label>
            <div class="fast">
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('twomonth');">
                前兩個月
              </button>
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('lastmonth');">
                上個月
              </button>
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('thismonth');">
                本月
              </button>
              <div class="w-100"></div>
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('lastweek');">
                上一週
              </button>
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('yesterday');">
                前一日
              </button>
              <button class="col bg-light text-secondary fast__item" onclick="fastSearch('today');">
                今天
              </button>
            </div>
          </div>
        </form>
        <div class="date-pick-loading text-secondary">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-secondary btn-block" data-dismiss="modal">關閉</div>
      </div>
    </div>
  </div>
</div>
<script>
  function chooseDates() {
    $('#datePickModal').modal('show');
  }

  function fastSearch(type) {
    var start = '',
      end = '',
      today = toDate(new Date());

    switch (type) {
      case 'twomonth':
        start = moment().add(-2, 'months').format('YYYY-MM-01');
        end = toDate(moment().add(-1, 'months').endOf('month'));
        break;
      case 'lastmonth':
        start = moment().add(-1, 'months').format('YYYY-MM-01');
        end = toDate(moment(start).endOf('month'));
        break;
      case 'thismonth':
        start = moment().format('YYYY-MM-01');
        end = today;
        break;
      case 'lastweek':
        start = toDate(moment().day(-7));
        end = toDate(moment().day(-7).add(6, 'days'));
        break;
      case 'yesterday':
        start = end = toDate(moment().add(-1, 'days'));
        break;
      case 'today':
        start = end = today;
        break;
    }
    $('input[name=start]').val(start).toggleClass('is-invalid', false);
    $('input[name=end]').val(end).toggleClass('is-invalid', false);
    emitSearch();
  }

  function validateDates() {
    var start = $('input[name=start]').val();
    var end = $('input[name=end]').val();

    $('input[name=start]').toggleClass('is-invalid', !start);
    $('input[name=end]').toggleClass('is-invalid', !end);

    if (new Date(end).getTime() < new Date(start).getTime()) {
      $('.server-message').html('迄止日不能小於起始日');
      return false;
    }

    return start && end;
  }

  function submitSearch() {
    if (!validateDates())
      return false;
    emitSearch();
  }

  function emitSearch() {
    var start = $('input[name=start]').val();
    var end = $('input[name=end]').val();

    $('#datePickModal input, #datePickModal button').prop('disabled', true);
    $('#datePickModal .date-pick-loading').toggleClass('date-pick-loading--show', true);
    /* validate */
    SheetModelImp.getListByDateRange(start, end, function (res) {
      if (typeof res !== 'object')
        $('.server-message').html(res);

      /* close modal */
      $('#datePickModal').modal('hide');

      insertData(res);

      /* display table */
      $('.main__table').removeClass('main__table--hidden');
    });
  }

  $(function () {
    var today = toDate(new Date());
    $('input[name=start]').attr('min', '2018-11-12');
    $('input[name=end]').attr('min', '2018-11-12');
    $('input[name=start]').attr('max', today);
    $('input[name=end]').attr('max', today);
    SheetModelImp.getSearchCondition(function (obj) {
      if (obj.start && obj.end) {
        $('input[name=start]').val(obj.start);
        $('input[name=end]').val(obj.end);
        SheetModelImp.getListByDateRange(obj.start, obj.end, insertData);
      }
    });

    $('#datePickModal').on('hide.bs.modal', SheetModelImp.cancel);

    $('#datePickModal').on('hidden.bs.modal', function () {
      SheetModelImp.getSearchCondition(function (obj) {
        $('input[name=start]').val(obj.start || '');
        $('input[name=end]').val(obj.end || '');
      });
      $('.server-message').html('');
      $('#datePickModal .date-pick-loading').toggleClass('date-pick-loading--show', false);
      $('input[name=start]').toggleClass('is-invalid', false);
      $('input[name=end]').toggleClass('is-invalid', false);
      $('#datePickModal input, #datePickModal button').prop('disabled', false);
    });
  });
</script>