<style>
  .detail-list-responsive {
    display: flex;
    position: relative;
    max-height: 70vh;
    overflow: hidden;
  }

  .detail-list--fixed {
    position: absolute;
    background-color: #fff;
    width: 100px;
    z-index: 2;
    border-left: 1px solid #ccc;
    height: 100%;
    pointer-events: none;
    overflow-y: auto;
  }

  .detail-list--frame {
    display: flex;
    padding-left: 100px;
    position: relative;
    max-height: 100%;
    width: 100%;
    overflow: auto;
  }

  .detail-list__column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .detail-list__column--80 {
    flex-basis: 100px;
  }

  .detail-list__column--130 {
    flex-basis: 130px;
  }

  .detail-list__head {
    padding: .3rem 1rem;
    color: #fff;
    background-color: #212529;
    text-align: center;
  }

  .detail-list__data {
    min-height: 2rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .detail-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }

  .detail-loading--show {
    display: flex;
  }

</style>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel"></h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="detail-list-responsive">
          <div class="detail-list--fixed detail-list__column">
            <div class="detail-list__head">時段</div>
            <div class="detail-list__slot-list"></div>
          </div>
          <div class="detail-list--frame">
            <div class="detail-list__column detail-list__column--130">
              <div class="detail-list__head">餵奶時間</div>
              <div class="detail-list__body detail-list__feed-time"></div>
            </div>
            <div class="detail-list__column detail-list__column--80">
              <div class="detail-list__head">母奶</div>
              <div class="detail-list__body detail-list__mom"></div>
            </div>
            <div class="detail-list__column detail-list__column--80">
              <div class="detail-list__head">配方奶</div>
              <div class="detail-list__body detail-list__milk"></div>
            </div>
            <div class="detail-list__column">
              <div class="detail-list__head">小便次數</div>
              <div class="detail-list__body detail-list__pee-count"></div>
            </div>
            <div class="detail-list__column">
              <div class="detail-list__head">小便狀態</div>
              <div class="detail-list__body detail-list__pee-status"></div>
            </div>
            <div class="detail-list__column">
              <div class="detail-list__head">大便次數</div>
              <div class="detail-list__body detail-list__poop-count"></div>
            </div>
            <div class="detail-list__column">
              <div class="detail-list__head">大便狀態</div>
              <div class="detail-list__body detail-list__poop-status"></div>
            </div>
            <div class="detail-list__column">
              <div class="detail-list__head">備註</div>
              <div class="detail-list__body detail-list__note"></div>
            </div>
          </div>
        </div>
        <div class="detail-loading text-secondary">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<script>
  function displayTime(num) {
    if (num === '') return '????';
    if (parseInt(num) === 'NaN') return num;
    return +num < 1000 ? '0' + num : num.toString();
  }

  function setDataClass(hasMistake) {
    return hasMistake ? 'detail-list__data bg-warning' : 'detail-list__data';
  }

  function showDetail(detail) {
    $('#detailModalLabel').html(toDate(detail[0]['date']));
    var modalEl = $('#detailModal');
    modalEl.modal('show');
    modalEl.find('.detail-loading').toggleClass('detail-loading--show', true);
    SheetModelImp.getSlots(function (res) {
      modalEl.find('.detail-loading').toggleClass('detail-loading--show', false);
      new Promise(function (resolve) {
        res.forEach(function (slot, idx) {
          if (idx === 24) {
            resolve();
            return true;
          }
          $('<div>').addClass('detail-list__data').html(slot).appendTo($('.detail-list__slot-list'));

          var target = detail.find(function (item) {
            return item.slot_row === (idx + 1);
          });
          var pee = target && target.pee.toString() !== '' ? target.pee.toString().split(',') : [];
          var poop = target && target.poop.toString() !== '' ? target.poop.toString().split(',') : [];
          var peeMistake = pee.find(function (value) {
            return parseInt(value) !== 0;
          });
          var poopMistake = poop.find(function (value) {
            return parseInt(value) !== 0;
          });
          var hasMistake = peeMistake || poopMistake;
          /* 餵奶時間 */
          $('<div>').addClass(setDataClass(hasMistake)).
          html(target && target.feed_start ? displayTime(target.feed_start) + '~' + displayTime(target.feed_end) : '').
          appendTo($('.detail-list__feed-time'));
          /* 母奶 */
          $('<div>').
          addClass(setDataClass(hasMistake)).
          html(target && target.mom).
          appendTo($('.detail-list__mom'));
          /* 配方奶 */
          $('<div>').
          addClass(setDataClass(hasMistake)).
          html(target && target.milk).
          appendTo($('.detail-list__milk'));
          /* 小便次數 */
          $('<div>').
          addClass(setDataClass(hasMistake)).
          html(pee.length || '').
          appendTo($('.detail-list__pee-count'));
          /* 小便狀態 */
          $('<div>').
          addClass(setDataClass(hasMistake) + (peeMistake ? ' text-danger' : '')).
          html(pee.map(function (status) {
            return PEE_TEXT[status];
          }).join(',')).
          appendTo($('.detail-list__pee-status'));
          /* 大便次數 */
          $('<div>').
          addClass(setDataClass(hasMistake)).
          html(poop.length || '').
          appendTo($('.detail-list__poop-count'));
          /* 大便狀態 */
          $('<div>').
          addClass(setDataClass(hasMistake) + (poopMistake ? ' text-danger' : '')).
          html(poop.map(function (status) {
            return POOP_TEXT[status];
          }).join(',')).
          appendTo($('.detail-list__poop-status'));
          /* 備註 */
          $('<div>').
          addClass(setDataClass(hasMistake)).
          html(target && target.note).
          appendTo($('.detail-list__note'));
        });
      }).then(function () {
        $('#detailModal').modal('handleUpdate');
      });
    });
  }

  $(function () {
    $('#detailModal').on('hide.bs.modal', function () {
      SheetModelImp.cancel();
      $('body').off('touchstart');
      $('body').off('touchmove');
    });

    $('#detailModal').on('hidden.bs.modal', function () {
      $('#detailModalLabel').html('');
      $('.detail-list__slot-list').empty();
      $('.detail-list__body').empty();
    });

    $('.detail-list--frame').on('scroll', function () {
      var _this = $(this);
      $('.detail-list--fixed').scrollTop(_this.scrollTop());
    });
  });
</script>