<div class="container">
  <div class="page-title">新增消息</div>
  <form class="anchor-form">
    <div class="form-group">
      <label>日期*</label>
      <input type="date" name="date" class="form-control"/>
      <div class="invalid-feedback">
        請選擇日期
      </div>
    </div>
    <div class="form-group">
      <label>標題*</label>
      <input type="text" name="note" class="form-control"/>
      <div class="invalid-feedback">
        請輸入標題
      </div>
    </div>
    <div class="form-group">
      <label>內容</label>
      <textarea name="info" class="form-control" cols="5"></textarea>
    </div>
    <div class="form-group">
      <label>圖片</label>
    </div>
    <div class="btn btn-info btn-block" onClick="anchorSubmit();">新增</div>
  </form>
</div>