<div class="container">
  <div class="page-title">消息管理</div>
  <div class="list-group anchor-list">
  </div>
  <div class="modal fade modify-modal" tabindex="-1" role="dialog">
  </div>
</div>
<script>
  function setElementContent(item) {
    this.data('data', item);
    var title = $('<div>').addClass('d-flex w-100 justify-content-between').html('<h5>' + item.note + '</h5>');
    var content = $('<p>').addClass('mb-1').html(item.info);
    var date = $('<small>').html(item.date);
    this.append([title, content, date]);
    return this;
  }

  function fetchAnchorList() {
    loading(true);
    AnchorModelImp.getAnchorList(function (res) {
      var _list = $('.anchor-list');
      res.forEach(function (item, idx) {
        var card = $('<a>').
        addClass('list-group-item list-group-item-action flex-column align-items-start author-list__item').
        attr('href', '#').data('row', item.row).click(function () {
          $(this).addClass('author-list__item--modify');
          $('.modify-modal').empty().load('admin/templates/anchor.modify.form.html', function () {
            $(this).on('hidden.bs.modal', function () {
              $('.author-list__item--modify').removeClass('author-list__item--modify');
            }).modal('show');
          });
        });
        setElementContent.bind(card)(item).appendTo(_list);
      });
      loading(false);
    });
  }

  $(function () {
    fetchAnchorList();
  });
</script>