<div class="main__menu">
  <div class="main__menu__item">
    <div class="menu-box menu-box--disabled" onClick="loadPage(this, '');">
      小便
    </div>
  </div>
  <div class="main__menu__item">
    <div class="menu-box menu-box--disabled" onClick="loadPage(this, '');">
      大便
    </div>
  </div>
  <div class="main__menu__item">
    <div class="menu-box menu-box--disabled" onClick="loadPage(this, '');">
      餵奶
    </div>
  </div>
  <div class="main__menu__item">
    <div class="menu-box menu-box--disabled" onClick="loadPage(this, '');">
      備註
    </div>
  </div>
  <div class="main__menu__item main__menu__item--full">
    <div class="menu-box" onClick="loadPage(this, 'news');">
      動態消息
    </div>
  </div>
</div>