<nav class="navbar navbar-dark bg-dark fixed-top">
  <span class="navbar__back" onClick="backToHome()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
  <span class="navbar-brand">管理中心</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-page" data-target="anchor" href="javascript:void(0)">塗鴉牆</a>
      <a class="nav-item nav-link nav-page" data-target="record" href="javascript:void(0)">哺育紀錄</a>
    </div>
  </div>
</nav>